.pl763847__wrap {
  display: none;

 width: 96%;
  max-width: 400px;
  height: auto;

  font-size: 0;
  line-height: 0;
  text-align: center;
  white-space: nowrap;

  font-family: 'Roboto', sans-serif !important;
  z-index: 10000000000;
position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: auto;

}

.pl763847__closelink {
    position: absolute;
    top: 7px;
    right: 7px;
    z-index: 99999;
    padding: 5px;
    /* background-color: #fff; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    font-family: 'Roboto', sans-serif !important;
    justify-content: center;
    cursor: pointer;
    box-sizing: content-box;
    cursor: pointer;
}



.pl763847__close {
  width: 10px;
  cursor: pointer;

  box-sizing: content-box;
  cursor: pointer;

}



.pl763847__content {
  display: inline-block;

  padding: 0;
 width: 100%;
  font-size: 13px;
  text-align: left;
  border-radius: 10px;
  background: #fff;
  white-space: normal;
  z-index: 3;
  color: #000;
  text-align: center;
  border: 1px solid #b9b9b9f2;

}

.pl763847__message_content {
  width: 100%;
}

.pl763847__content .pl763847__message {
  padding: 20px !important;
  line-height: 17px !important;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

.pl763847__message .pl763847__message img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}


.pl763847__name__abonem {
  font-size: 16px;
  font-weight: 800;
  color: #181617;
  margin: 0 !important;
  padding: 0 !important;

}

.pl763847__message__desc {
  font-size: 15px;
  margin: 5px 0 !important;
  padding: 0 !important;
  color: #686868;
}


.pl763847__message {
  text-align: left;
}

.pl763847__mes-img {
  width: 30px;
  margin-right: 10px;
  fill: red;
}

.pl763847__dots-img {
  width: 17px;
}

.pl763847__dots {
  display: flex;
  align-items: center;
}


.pl763847__btn{
    cursor: pointer;
}



@-webkit-keyframes pl763847__bounceInUp {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes pl763847__bounceInUp {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.pl763847__bounceInUp {
  -webkit-animation-name: pl763847__bounceInUp;
  animation-name: pl763847__bounceInUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
